# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json

# SSH keys
*.pem
*.key
week4-key
week4-key.pub

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
